*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #000;
  }

  .heading{
    color: white;
   /*border: 1px solid; */
    text-align: center;
    font-size: 20px;
  }
  .container{
    height: 100px;
    width: 360px;
    position: relative;
    background: linear-gradient(135deg, #5B5F97, #ffc145, #ff6B6c);
    border-radius: 10px;
    cursor: default;
    animation: animate 1.5s linear infinite;
  }
  .container .display,
  .container span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container .display{
    z-index: 999;
    height: 85px;
    width: 345px;
    background: #1b1b1b;
    border-radius: 6px;
    text-align: center;
  }
  .display #time{
    line-height: 85px;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #5B5F97, #ffc145, #ff6B6c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
  }

  /* Animation*/
  @keyframes animate {
    100%{
      filter: hue-rotate(360deg);
    }
  }

  /* Pour les données heurs, minutes et secondes */

  .container span{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: inherit;
  }
  .container span:first-child{
    filter: blur(7px);
  }
  .container span:last-child{
    filter: blur(20px);
  }